Django>=5.0,<6.0
djangorestframework>=3.15
django-cors-headers>=4.3
channels>=4.0
channels-redis>=4.2
psycopg2-binary>=2.9
python-dotenv>=1.0
gunicorn>=22.0
daphne>=4.0
whitenoise>=6.0
django-allauth[mfa]
requests>=2.31
PyJWT[crypto]>=2.8.0
PyYAML>=6.0
django-environ
django-crontab
django-core-micha